<h1>Your Current Divisions</h1>

<% if @divisions.any?() %>
  <h3>Here are your Divisions:</h3>

  <ul>
    <% @divisions.each() do |division| %>
      <li><a href="/divisions/<%= division.id()%>"><%= division.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no Divisions yet!</p>

<% end %>
