<h1>Your Current Divisions</h1>

<% if @divisions.any?() %>
  <h3>Here are your Divisions:</h3>

  <ul>
    <% @divisions.each() do |division| %>
      <li><a href="/divisions/<%= division.id()%>"><%= division.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no Divisions yet!</p>

<% end %>

<h3>Add a Division</h3>
<form class="form-group" action="/divisions" method="post">
  <label for="division-name">Enter a Division Name:</label>
  <input type="text" name="division-name">
  <button type="submit">Add Division</button>
</form>
