<h1>Your Current Employees</h1>

<% if @employees.any?() %>
  <h3>Here are your Employees:</h3>

  <ul>
    <% @employees.each() do |employee| %>
      <li><a href="/employees/<%= employee.id()%>"><%= employee.name() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no Employees yet!</p>

<% end %>
